<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detective.stone.awakening.company.dao.PermissionMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.detective.stone.awakening.company.model.Permission">
    <id column="id" property="id"/>
    <result column="creator_id" property="creatorId"/>
    <result column="created_time" property="createdTime"/>
    <result column="updater_id" property="updaterId"/>
    <result column="updated_time" property="updatedTime"/>
    <result column="cancel_flag" property="cancelFlag"/>
    <result column="menu_id" property="menuId"/>
    <result column="name" property="name"/>
    <result column="mapping" property="mapping"/>
    <result column="display" property="display"/>
    <result column="getRequest" property="getRequest"/>
    <result column="mustHave" property="mustHave"/>
  </resultMap>
  <update id="truncate">
    TRUNCATE table permission;
  </update>

</mapper>
