<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detective.stone.awakening.company.dao.UserMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.detective.stone.awakening.company.model.User">
    <id column="id" property="id"/>
    <result column="creator_id" property="creatorId"/>
    <result column="created_time" property="createdTime"/>
    <result column="updater_id" property="updaterId"/>
    <result column="updated_time" property="updatedTime"/>
    <result column="cancel_flag" property="cancelFlag"/>
    <result column="name" property="name"/>
    <result column="birthday" property="birthday"/>
    <result column="register_time" property="registerTime"/>
    <result column="super" property="super"/>
  </resultMap>

</mapper>
